---
layout: default
---
<main class="content" role="main">
  <article class="post">
    <div class="post-meta">
      <h1 class="post-title">{{ page.title }}</h1>
    </div>

    <section class="post-content">
      <a name="topofpage"></a>
      {{content}}
    </section>
    <footer class="post-footer">
      <section class="share">
        <a class="icon" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.id }}" target="_blank">
          Compartilhe
          {% include icon-facebook.html %}
        </a>
      </section>
    </footer>
    <div class="bottom-teaser cf">
      <div class="isFull">
        <h5 class="index-headline featured"><span>Escrito por</span></h5>
        <section class="author">
          <div class="author-image"></div>
          <h4>{{ site.name }}</h4>
          <p class="bio">{{site.bio}}</p>

          <p>
            <span>
              {% if site.github_username %}
                {% include icon-github.html username=site.github_username %}
              {% endif %}
            </span>
            <br>
            <span>
              {% if site.twitter_username %}
                {% include icon-facebook.html username=site.facebook_username facebook_fake_name=site.facebook_fake_name%}
              {% endif %}
            </span>
          </p>
          <hr>
          <p class="published">Publicado <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>
        </section>
      </div>
    </div>
  </article>
</main>
